

body{
    color:white;
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg,#011523,#062a45,#042c4a,#2b95e5) no-repeat;
    background-size:300% 300%;
    justify-content: center;
    height: 90vh;
}
@keyframes gradient {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%; 
    }
    100%{
        background-position: 0 50%;
    }
}

header{
    text-align: center;
    padding-top: 20px;
}
.nav {
    display: flex;
    padding-top: 15px;
    justify-content: space-evenly;  
}
.nav input{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #b8daf347;
    width: 100px;
    height: 40px;
    border-radius: 5px;
}
.nav input:hover{
    border: none;
    background-color: #2b95e5;
    transform: scale(1.5);
}




#projetos{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
         
}
.back{
    background-color: #2b95e5;
    width: 25vw;
    height: 60vh;

}
.back img{
    width: 100%;
}
.front{
    background-color: #450632;
    width: 25vw;
    height: 50vh;
    transition-property: background-color;
    transition-duration: 2s; 
}
.front:hover{
    background-color:#2b95e5 ;

}


footer{
    bottom: 1em;
    position: fixed;
    width: 90%;
    text-align: center;
    
 }
 footer img {
    width: 8vw;
 }
 footer img:hover{
    transform: scale(1.5);
 }

